@use 'variaveis';

.footer {
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 182px;
    margin-top: 44px;
    display: flex;
    align-items: center;
    &__container {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .title {
            color: variaveis.$corSecundaria;
            font-weight: bolder;
        }
    }

    


}