@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'gallery';
@use 'footer';


@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/._Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/._Avenir-Bold.woff2');
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin title($fontSize: 20px) {
    font-size: $fontSize;
    color: variaveis.$corDoTextoTitulo;
}

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    color: variaveis.$corDeFundo;
}

.title {
    @include title;
}

.text {
    @include text;
}